body {
    background-image: url("../imgs/background.png");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
#loader {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border-top: 16px double purple;
    border-right: 16px double rgb(255, 106, 130);
    border-bottom: 16px double rgb(118, 0, 173);
    border-left: 16px double blue;
    -webkit-animation: ease-in-out 2s reverse infinite;
    animation: ease-in-out 2s reverse infinite;
  }
  @-webkit-keyframes ease-in-out {
    0% { -webkit-transform: text(blue); }
    100% { -webkit-transform: text(green); }
  }
  
  @keyframes ease-in-out {
    0% { -webkit-transform: text(blue); }
    100% { -webkit-transform: text(green); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }